{% extends 'base.html' %}
{% block header %}
    <title>Provas</title>
{% endblock %}
{% block content %}
<li class="breadcrumb-item active"><a href="{% url 'choose_exams' %}">Provas</a></li>
</ol>
</div><!--//container-->
</header><!--//header-->
<div class="doc-wrapper">
    <div class="container">
        <div id="doc-header" class="doc-header text-center">
            <h1 class="doc-title"><span aria-hidden="true" class="icon fa fa-list-alt"></span> Provas</h1>
            <br>
            <button class="btn btn-green" onclick="show('form_1')">Cadastrar Prova</button>
            <div class="center hideform" id="form_1">
                    <button onclick="show('form_1')" style="float:right " class="btn btn-green">X</button><br><br>
                <form action= "{% url 'create_exam' %}" method="POST">
                    {% csrf_token %}
                    Título: <br>
                    <input class="form-control" type="text" name="title">
                    <br>
                    Turma: <br>
                    <select class="form-control" name="ClassID">
                        {% for class in classes %}
                        <option value="{{class.ID}}">{{ class.classname }} - {{ class.year }}/{{ class.season }}</option>                            
                        {% endfor %}
                    </select>
                    <br><br>
                    <input type="submit" class="btn btn-green" value="Concluido">
                </form>
            </div>
            <button class="btn btn-green" onclick="show('form_2')">Cadastrar Questão</button>
            <div class="center hideform" id="form_2">
                    <button onclick="show('form_2')" style="float:right " class="btn btn-green">X</button><br><br>
                <form action= "{% url 'create_task' %}" method="POST">
                    {% csrf_token %}
                    Título: <br>
                    <input class="form-control" type="text" name="title">
                    <br>
                    Descrição: <br>
                    <textarea class="form-control" name="statement" cols="40" rows="5"></textarea>
                    <br>
                    Pontuação: <br>
                    <input class="form-control" type="number" step="0.01" min="0" name="score">
                    <br>
                    Tags: (separadas por hashtag) <br>
                    <textarea class="form-control" name="tags" cols="40" rows="5" placeholder="array#sort#quicksort#mergesort"></textarea>
                    <br>
                    <select class="form-control" name="ExamID">
                        {% for exam in exams %}
                            <option value="{{exam.ID}}">{{ exam.title }}</option>
                        {% endfor %}
                    </select>
                    <br><br>
                    <input type="submit" class="btn btn-green" value="Concluido">
                </form>
            </div>
            <button onclick="show('form_3')" class="btn btn-green" >Listar Provas</button>
                <div class="center hideform" id="form_3">
                        <button onclick="show('form_3')" style="float:right " class="btn btn-green">X</button><br><br>
                    <form action= "{% url 'choose_exams' %}" method="POST">
                        {% csrf_token %}
                        Ano:<br>
                        <select class="form-control" name="year">
                        {% for year in years %}
                            <option value="{{ year }}">{{ year }}</option>
                        {% endfor %}
                        </select>
                        Período:<br>
                        <select class="form-control" name="season">
                        {% for season in seasons %}
                            <option value="{{ season }}">{{ season }}</option>
                        {% endfor %}
                        </select>
                        Turma:<br>
                        <select class="form-control" name="classname">
                        {% for classname in classnames %}
                            <option value="{{ classname}}">{{ classname }}</option>
                        {% endfor %}
                        </select>
                        <br><br>
                        <input type="submit" class="btn btn-green" value="Concluido">
                    </form>
                </div>
        </div><!--//doc-header-->
                <div class="doc-body row">
                        <div class="doc-content col-md-9 col-12 order-1">
                            <div class="content-inner">
                            {% for exam in exams %}
                            <section id="{{ exam.ID }}" class="doc-section">
                                <h2 class="section-title">{{ exam.title }} - Turma: 
                                        {% for class in classes %}
                                            {% if exam.ClassID == class.ID %}
                                            {{ class.classname }} - {{ class.year }}/{{ class.season }}
                                            {% endif %}
                                        {% endfor %}
                                </h2>
                                <div class="section-block">
                                    <button onclick="show('form{{ forloop.counter }}')" class="btn btn-green">Editar</button>
                                    <div class="center hideform" id="form{{ forloop.counter }}">
                                            <button onclick="show('form{{ forloop.counter }}')" style="float:right " class="btn btn-green">X</button><br><br>
                                            <form action="{% url 'update_exam' %}" method="POST">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="ID" value="{{ exam.ID }}">
                                                    Título:<br>
                                                    <input class="form-control" type="text" name="title" placeholder="{{ exam.title }}">
                                                    <br>
                                                    Turma:<br>
                                                    <select class="form-control" name="ClassID">
                                                    {% for class in classes %}
                                                        {% if exam.ClassID == class.ID %}
                                                            <option value="{{class.ID}}" selected>{{ class.classname }} - {{ class.year }}/{{ class.season }}</option>
                                                        {% else %}
                                                            <option value="{{class.ID}}">{{ class.classname }} - {{ class.year }}/{{ class.season }}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                    </select>
                                                    <br><br>
                                                    Deseja deletar a prova?  <input type="checkbox" name="delete" id="">
                                                    <br><br>
                                                    <input type="submit" class="btn btn-green" value="Concluido">
                                                </form>
                                </div>
                                </div>
                                {% for task in tasks %}
                                {% if task.ExamID == exam.ID %}
                                    <div id="{{ task.ID }}"  class="section-block">
                                        <h3 class="block-title">{{ task.title }}</h3>
                                        <p>{{ task.statement }}
                                            <br> <br> <b>Pontuação:</b> {{ task.score }}
                                            <br> <b>Tags: </b>{% for tag in task.tags %}{{ tag }} / {% endfor %}
                                        </p>
                                        <button class="btn btn-blue" onclick="show('form{{ forloop.counter }}2')">Editar</button>
                                    <div class="center hideform" id="form{{ forloop.counter }}2">
                                            <button onclick="show('form{{ forloop.counter}}2')" style="float:right " class="btn btn-green">X</button><br><br>
                                        <form action="{% url 'update_task' %}" method="POST">
                                            {% csrf_token %}
                                            <input type="hidden" name="ID" value="{{ task.ID }}">
                                            Título:<br>
                                            <input type="text" class="form-control" name="title" placeholder="{{ task.title }}">
                                            <br>
                                            Descrição:<br>
                                            <textarea class="form-control" name="statement" placeholder="{{ task.statement }}" cols="40" rows="5"></textarea>            
                                            <br>
                                            Pontuação: <br>
                                            <input type="number" step="0.01" min="0" name="score" placeholder="{{ task.score }}">
                                            <br>
                                            Tags: <br>
                                            <textarea class="form-control" name="tags" cols="40" rows="5" placeholder="{% for tag in task.tags %}{{ tag }}#{% endfor %}"></textarea>
                                            <br>  
                                            <select class="form-control" name="ExamID">
                                                {% for prova in exams %}
                                                    {% if prova.ID == task.ExamID %}
                                                        <option value="{{prova.ID}}" selected>{{ prova.title }}</option>
                                                    {% else %}
                                                        <option value="{{prova.ID}}">{{ prova.title }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                            <br><br>
                                            Deseja deletar a questão?  <input type="checkbox" name="delete" id="">
                                            <br><br>
                                            <input class="btn btn-green" type="submit" value="Concluido">
                                        </form>
                                    </div>
                                    </div><!--//section-block-->
                                    {% endif %}
                                    {% endfor %}
                                </section><!--//doc-section-->
                            {% endfor %}
                        </div><!--//content-inner-->
                    </div><!--//doc-content-->
                </div><!--//doc-body-->  
        </div><!--//container-->
    </div><!--//doc-wrapper-->
{% endblock %}