{% extends 'base.html' %}
{% block header %}
    <title>CRUD ALUNO</title>
{% endblock %}
{% block content %}
<li class="breadcrumb-item active">Alunos</li>
</ol>
</div><!--//container-->
</header><!--//header-->
<div class="doc-wrapper">
        <div class="container">
            <div id="doc-header" class="doc-header text-center">
                <h1 class="doc-title"><span aria-hidden="true" class="icon fa fa-address-card"></span> Alunos</h1>
                <br>
                <button onclick="show('form')" class="btn btn-green" >Cadastrar Aluno</button>
                <div class="center hideform" id="form">
                    <form action= "{% url 'create_student' %}" method="POST">
                        {% csrf_token %}
                        First Name: <br>
                        <input type="text" class="form-control" name="firstname">
                        <br>
                        Last Name: <br>
                        <input type="text" class="form-control" name="lastname">
                        <br>
                        Matricula: <br>
                        <input type="text" class="form-control"  name="matricula">
                        <br>
                        Turma:<br>
                        <select class="form-control" name="ClassID">
                        {% for class in classes %}
                            <option value="{{class.ID}}">{{ class.classname }} - {{ class.year }}/{{ class.season }}</option>
                        {% endfor %}
                        </select>
                        <br><br>
                        <input type="submit" class="btn btn-green" value="Concluido">
                    </form>
                </div>
                <button onclick="show('form_2')" class="btn btn-green" >Listar Alunos</button>
                <div class="center hideform" id="form_2">
                    <form action= "{% url 'choose_students' %}" method="POST">
                        {% csrf_token %}
                        Ano:<br>
                        <select class="form-control" name="year">
                        {% for year in years %}
                            <option value="{{ year }}">{{ year }}</option>
                        {% endfor %}
                        </select>
                        Período:<br>
                        <select class="form-control" name="season">
                        {% for season in seasons %}
                            <option value="{{ season }}">{{ season }}</option>
                        {% endfor %}
                        </select>
                        Turma:<br>
                        <select class="form-control" name="classname">
                        {% for classname in classnames %}
                            <option value="{{ classname}}">{{ classname }}</option>
                        {% endfor %}
                        </select>
                        <br><br>
                        <input type="submit" class="btn btn-green" value="Concluido">
                    </form>
                </div>
            </div><!--//doc-header-->
            <div class="doc-body row">
                <div class="doc-content col-md-9 col-12 order-1">
                    <div class="content-inner">
                    {% for student in students %}
                    <section id="{{ student.ID }}" class="doc-section">
                        <h2 class="section-title">{{ student.firstname }} {{ student.lastname }}</h2>
                        <div class="section-block">
                            <p> Matrícula: {{ student.matricula }}
                            <br> Turma: 
                                {% for class in classes %}
                                    {% if student.ClassID == class.ID %}
                                    {{ class.classname }} - {{ class.year }}/{{ class.season }}
                                    {% endif %}
                                {% endfor %}
                            </p>
                            <button onclick="show('form{{ forloop.counter }}')" class="btn btn-green">Editar</button>
                            <div class="center hideform" id="form{{ forloop.counter }}">
                                <form action="{% url 'update_student' %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="ID" value="{{ student.ID }}">
                                    Primeiro Nome:<br>
                                    <input type="text" class="form-control" name="firstname" placeholder="{{ student.firstname }}">
                                    <br>
                                    Último Nome:<br>
                                    <input type="text" class="form-control" name="lastname" placeholder="{{ student.lastname }}">
                                    <br>
                                    Matricula:<br>
                                    <input type="text" class="form-control" name="matricula" placeholder="{{ student.matricula }}">
                                    <br>
                                    Turma:<br>
                                    <select class="form-control" name="ClassID">
                                    {% for class in classes %}
                                        {% if student.ClassID == class.ID %}
                                            <option value="{{class.ID}}" selected>{{ class.classname }} - {{ class.year }}/{{ class.season }}</option>
                                        {% else %}
                                            <option value="{{class.ID}}">{{ class.classname }} - {{ class.year }}/{{ class.season }}</option>
                                        {% endif %}
                                    {% endfor %}
                                    </select>
                                    <br>
                                    Handles: <br>
                                    {% for type, handle in student.handles.items %}
                                        {{type}}: <br>
                                        <input type="text" class="form-control" name="{{type}}" placeholder="{{ handle }}">
                                        <br>
                                    {% endfor %}
                                    {% for type, grade in student.grades.items %}
                                    {{ type }}: <br>
                                        {% for x in grade %}
                                        <input type="number" class="form-control" step="0.01" min="0" name="{{ type }}" value="{{ x }}">
                                        <br>
                                        {% endfor %}
                                        <br>
                                    {% endfor %}
                                    <br><br>
                                    Deseja deletar o aluno?  <input type="checkbox" name="delete" id="">
                                    <br><br>
                                    <input type="submit" class="btn btn-green" value="Concluido">
                                </form>
                            </div>
                        </section><!--//doc-section-->
                        {% endfor %}
                    </div><!--//content-inner-->
                </div><!--//doc-content-->
            </div><!--//doc-body--> 
            </div><!--//container-->
    </div><!--//doc-wrapper-->
{% endblock %}