{% extends 'base.html' %}
{% block header %}
    <title>CRUD ALUNO</title>
{% endblock %}
{% block content %}
<li class="breadcrumb-item active">Provas</li>
</ol>
</div><!--//container-->
</header><!--//header-->
<div class="doc-wrapper">
    <div class="container">
        <div id="doc-header" class="doc-header text-center">
            <h1 class="doc-title"><span aria-hidden="true" class="icon fa fa-list-alt"></span> Provas</h1>
            <br>
            <button class="btn btn-green" onclick="show('form_1')">Cadastrar Prova</button>
            <div class="center hideform" id="form_1">
                <form action= "{% url 'create_exam' %}" method="POST">
                    {% csrf_token %}
                    Title: <br>
                    <input class="form-control" type="text" name="title">
                    <br>
                    <select class="form-control" name="ClassID">
                        {% for class in classes %}
                            <option value="{{class.ID}}">{{ class.classname }}</option>
                        {% endfor %}
                    </select>
                    <br><br>
                    <input type="submit" class="btn btn-green" value="Concluido">
                </form>
            </div>
            <button class="btn btn-green" onclick="show('form_2')">Cadastrar Questão</button>
            <div class="center hideform" id="form_2">
                <form action= "{% url 'create_task' %}" method="POST">
                    {% csrf_token %}
                    Title: <br>
                    <input class="form-control" type="text" name="title">
                    <br>
                    Statement: <br>
                    <textarea class="form-control" name="statement" cols="40" rows="5"></textarea>
                    <br>
                    Score: <br>
                    <input class="form-control" type="number" step="0.01" min="0" name="score">
                    <br>
                    Tags: (separadas por hashtag) <br>
                    <textarea class="form-control" name="tags" cols="40" rows="5" placeholder="encerramento#calor#quente#frio"></textarea>
                    <br>
                    <select class="form-control" name="ExamID">
                        {% for exam in exams %}
                            <option value="{{exam.ID}}">{{ exam.title }}</option>
                        {% endfor %}
                    </select>
                    <br><br>
                    <input type="submit" class="btn btn-green" value="Concluido">
                </form>
            </div>
        </div><!--//doc-header-->
                <div class="doc-body row">
                        <div class="doc-content col-md-9 col-12 order-1">
                            <div class="content-inner">
                            {% for exam in exams %}
                            <section id="{{ exam.ID }}" class="doc-section">
                                <h2 class="section-title">Title: {{ exam.title }} - Turma: 
                                        {% for class in classes %}
                                            {% if exam.ClassID == class.ID %}
                                                    {{ class.classname }}
                                            {% endif %}
                                        {% endfor %}
                                </h2>
                                <div class="section-block">
                                    <button onclick="show('form{{ forloop.counter }}')" class="btn btn-green">Editar</button>
                                    <div class="center hideform" id="form{{ forloop.counter }}">
                                            <form action="{% url 'update_exam' %}" method="POST">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="ID" value="{{ exam.ID }}">
                                                    Title:<br>
                                                    <input class="form-control" type="text" name="title" placeholder="{{ exam.title }}">
                                                    <br>
                                                    Turma:<br>
                                                    <select class="form-control" name="ClassID">
                                                    {% for class in classes %}
                                                        {% if exam.ClassID == class.ID %}
                                                            <option value="{{class.ID}}" selected>{{ class.classname }}</option>
                                                        {% else %}
                                                            <option value="{{class.ID}}">{{ class.classname }}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                    </select>
                                                    <br><br>
                                                    Deseja deletar a prova?  <input type="checkbox" name="delete" id="">
                                                    <br><br>
                                                    <input type="submit" class="btn btn-green" value="Concluido">
                                                </form>
                                </div>
                                </div>
                                {% for task in tasks %}
                                {% if task.ExamID == exam.ID %}
                                    <div id="{{ task.ID }}"  class="section-block">
                                        <h3 class="block-title">{{ task.title }}</h3>
                                        <p>{{ task.statement }}
                                            <br> <b>Score:</b> {{ task.score }}
                                            <br> <b>Tags: </b>{% for tag in task.tags %}{{ tag }} / {% endfor %}
                                        </p>
                                        <button class="btn btn-blue" onclick="show('form{{ forloop.counter }}2')">Editar</button>
                                    <div class="center hideform" id="form{{ forloop.counter }}2">
                                        <form action="{% url 'update_task' %}" method="POST">
                                            {% csrf_token %}
                                            <input type="hidden" name="ID" value="{{ task.ID }}">
                                            Title:<br>
                                            <input type="text" class="form-control" name="title" placeholder="{{ task.title }}">
                                            <br>
                                            Statement:<br>
                                            <textarea class="form-control" name="statement" placeholder="{{ task.statement }}" cols="40" rows="5"></textarea>            
                                            <br>
                                            Score: <br>
                                            <input type="number" step="0.01" min="0" name="score" placeholder="{{ task.score }}">
                                            <br>
                                            Tags: <br>
                                            <textarea class="form-control" name="tags" cols="40" rows="5" placeholder="{% for tag in task.tags %}{{ tag }}#{% endfor %}"></textarea>
                                            <br>  
                                            <select class="form-control" name="ExamID">
                                                {% for prova in exams %}
                                                    {% if prova.ID == task.ExamID %}
                                                        <option value="{{prova.ID}}" selected>{{ prova.title }}</option>
                                                    {% else %}
                                                        <option value="{{prova.ID}}">{{ prova.title }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                            <br><br>
                                            Deseja deletar a questão?  <input type="checkbox" name="delete" id="">
                                            <br><br>
                                            <input class="btn btn-green" type="submit" value="Concluido">
                                        </form>
                                    </div>
                                    </div><!--//section-block-->
                                    {% endif %}
                                    {% endfor %}
                                </section><!--//doc-section-->
                            {% endfor %}
                        </div><!--//content-inner-->
                    </div><!--//doc-content-->
                    <div class="doc-sidebar col-md-3 col-12 order-0 d-none d-md-flex">
                            <div id="doc-nav" class="doc-nav">
                                    <nav id="doc-menu" class="nav doc-menu flex-column sticky">
                                        {% for exam in exams %}
                                        <a class="nav-link scrollto" href="#{{ exam.ID }}">Title: {{ exam.title }}</a>
                                        <nav class="doc-sub-menu nav flex-column">
                                                {% for task in tasks %}
                                                {% if task.ExamID == exam.ID %}
                                                <a class="nav-link scrollto" href="#{{ task.ID }}">{{ task.title }}</a>
                                                {% endif %}
                                                {% endfor %}
                                        </nav><!--//nav-->
                                        {% endfor %}
                                    </nav><!--//doc-menu-->
                            </div>
                        </div><!--//doc-sidebar-->
                </div><!--//doc-body-->  
        </div><!--//container-->
    </div><!--//doc-wrapper-->
{% endblock %}