<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admins</title>
</head>
<body>
    <form action="{% url 'url_students' %}">
        <input type="submit" value="CRUD Aluno">
    </form>
    <br>
    <form action="{% url 'url_classes' %}">
        <input type="submit" value="CRUD Turma">
    </form>
    <br>
    <form action="{% url 'url_news' %}">
        <input type="submit" value="CRUD Notícia">
    </form>
    <br>
    <form action="{% url 'url_exams' %}">
        <input type="submit" value="CRUD Prova">
    </form>
</body>
</html>