<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{%static  'css/students.css'%}">
    <title>CRUD Estudante</title>
</head>
<body>
    <button onclick="show('form')">Cadastrar Aluno</button>
    <div class="center hideform" id="form">
        <form action= "{% url 'create_student' %}" method="POST">
            {% csrf_token %}
            First Name: <br>
            <input type="text" name="firstname">
            <br>
            Last Name: <br>
            <input type="text" name="lastname">
            <br>
            Matricula: <br>
            <input type="text" name="matricula">
            <br>
            Turma:<br>
            <select name="ClassID">
            {% for class in classes %}
                <option value="{{class.ID}}">{{ class.classname }}</option>
            {% endfor %}
            </select>
            <input type="submit" value="Concluido">
        </form>
    </div>
    {% for student in students %}
    <h2>Aluno: {{ student.firstname }} {{ student.lastname }}</h2> 
    <button onclick="show('form{{ forloop.counter }}')">Editar</button>
    <div class="center hideform" id="form{{ forloop.counter }}">
        <form action="{% url 'update_student' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="ID" value="{{ student.ID }}">
            First name:<br>
            <input type="text" name="firstname" placeholder="{{ student.firstname }}">
            <br>
            Last name:<br>
            <input type="text" name="lastname" placeholder="{{ student.lastname }}">
            <br>
            Matricula:<br>
            <input type="text" name="matricula" placeholder="{{ student.matricula }}">
            <br>
            Turma:<br>
            <select name="ClassID">
            {% for class in classes %}
                {% if student.ClassID == class.ID %}
                    <option value="{{class.ID}}" selected>{{ class.classname }}</option>
                {% else %}
                    <option value="{{class.ID}}">{{ class.classname }}</option>
                {% endif %}
            {% endfor %}
            </select>
            <br>
            Handles: <br>
            {% for type, handle in student.handles.items %}
                {{type}}: <br>
                <input type="text" name="{{type}}" placeholder="{{ handle }}">
                <br>
            {% endfor %}
            {% for type, grade in student.grades.items %}
            {{ type }}: <br>
                {% for x in grade %}
                <input type="text" name="{{ type }}{{forloop.counter}}" value="{{ x }}">
                <br>
                {% endfor %}
                <br>
            {% endfor %}
            <br><br>
            Deseja deletar o usuário?<input type="checkbox" name="delete" id="">
            <br><br>
            <input type="submit" value="Concluido">
        </form>
    </div>
    {% endfor %}
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="{%static 'js/students.js' %}"></script>
</html>